version: '3.8'

services:
  # Сервис для вашего приложения
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:80"  # Пробрасываем порт 80 контейнера на порт 5000 хоста
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=db;Database=AutoDealershipLMS;Username=postgres;Password=postgres
    depends_on:
      - db

  # Сервис для базы данных PostgreSQL
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: AutoDealershipLMS
    ports:
      - "5432:5432"  # Пробрасываем порт 5432 контейнера на порт 5432 хоста
    volumes:
      - postgres_data:/var/lib/postgresql/data

# Том для хранения данных PostgreSQL
volumes:
  postgres_data: